pipeline/HW2_Weather.json
{
	"name": "HW2_Weather",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Start')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Historical Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HistoricalWeather",
									"type": "DatasetReference",
									"parameters": {
										"dataType": "hour",
										"lat": 42.36,
										"lon": 71.06,
										"appid": "@activity('Web1').output.value",
										"start": "@item()",
										"end": "@add(item(),604800)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://openweatherkey.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"variables": {
			"DateRange": {
				"type": "Array",
				"defaultValue": [
					{
						"start": "1695833216",
						"end": "1696438016"
					},
					{
						"start": "1696438016",
						"end": "1697042816"
					},
					{
						"start": "1697042816",
						"end": "1697647616"
					},
					{
						"start": "1697647616",
						"end": "1698252416"
					},
					{
						"start": "1698252416",
						"end": "1698857216"
					},
					{
						"start": "1698857216",
						"end": "1699465616"
					},
					{
						"start": "1699465616",
						"end": "1700070416"
					},
					{
						"start": "1700070416",
						"end": "1700675216"
					},
					{
						"start": "1700675216",
						"end": "1701280016"
					},
					{
						"start": "1701280016",
						"end": "1701884816"
					},
					{
						"start": "1701884816",
						"end": "1702489616"
					},
					{
						"start": "1702489616",
						"end": "1703094416"
					},
					{
						"start": "1703094416",
						"end": "1703699216"
					},
					{
						"start": "1703699216",
						"end": "1704304016"
					},
					{
						"start": "1704304016",
						"end": "1704908816"
					},
					{
						"start": "1704908816",
						"end": "1705513616"
					},
					{
						"start": "1705513616",
						"end": "1706118416"
					},
					{
						"start": "1706118416",
						"end": "1706723216"
					},
					{
						"start": "1706723216",
						"end": "1707328016"
					},
					{
						"start": "1707328016",
						"end": "1707932816"
					},
					{
						"start": "1707932816",
						"end": "1708537616"
					},
					{
						"start": "1708537616",
						"end": "1709142416"
					},
					{
						"start": "1709142416",
						"end": "1709747216"
					},
					{
						"start": "1709747216",
						"end": "1710348416"
					},
					{
						"start": "1710348416",
						"end": "1710953216"
					},
					{
						"start": "1710953216",
						"end": "1711558016"
					},
					{
						"start": "1711558016",
						"end": "1712162816"
					},
					{
						"start": "1712162816",
						"end": "1712767616"
					},
					{
						"start": "1712767616",
						"end": "1713372416"
					},
					{
						"start": "1713372416",
						"end": "1713977216"
					},
					{
						"start": "1713977216",
						"end": "1714582016"
					},
					{
						"start": "1714582016",
						"end": "1715186816"
					},
					{
						"start": "1715186816",
						"end": "1715791616"
					},
					{
						"start": "1715791616",
						"end": "1716396416"
					},
					{
						"start": "1716396416",
						"end": "1717001216"
					},
					{
						"start": "1717001216",
						"end": "1717606016"
					},
					{
						"start": "1717606016",
						"end": "1718210816"
					},
					{
						"start": "1718210816",
						"end": "1718815616"
					},
					{
						"start": "1718815616",
						"end": "1719420416"
					},
					{
						"start": "1719420416",
						"end": "1720025216"
					},
					{
						"start": "1720025216",
						"end": "1720630016"
					},
					{
						"start": "1720630016",
						"end": "1721234816"
					},
					{
						"start": "1721234816",
						"end": "1721839616"
					},
					{
						"start": "1721839616",
						"end": "1722444416"
					},
					{
						"start": "1722444416",
						"end": "1723049216"
					},
					{
						"start": "1723049216",
						"end": "1723654016"
					},
					{
						"start": "1723654016",
						"end": "1724258816"
					},
					{
						"start": "1724258816",
						"end": "1724863616"
					},
					{
						"start": "1724863616",
						"end": "1725468416"
					},
					{
						"start": "1725468416",
						"end": "1726073216"
					},
					{
						"start": "1726073216",
						"end": "1726678016"
					},
					{
						"start": "1726678016",
						"end": "1727282816"
					}
				]
			}
		},
		"annotations": []
	}
}